<%= form_with model: [:admin, @badge], local: true do |form| %>
  <div class="form-group">
    <%= render 'shared/errors', resource: @badge %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :name, class: "form-control mb-3" %>

    <%= form.label :attempts_number %>
    <%= form.number_field :attempts_number, id: :attempts_number, class: "form-control mb-3" %>

    <%= form.label :level %>
    <%= form.number_field :level, id: :level, class: "form-control mb-3" %>

    <p>
      <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: "form-control" %>
    </p>
    <p>
      <%= form.collection_select :test_id, Test.all, :id, :title, prompt: true, class: "form-control" %>
    </p>

    <%= form.submit t('buttons.submit'), class: "btn btn-primary mt-3" %>
  </div>
<% end %>
