<tr>
  <td><%= badge.id %></td>
  <td><%= badge.name %></td>
  <td><%= badge.attempts_number ? badge.attempts_number : t('badges.index.attempts_number.unlimited') %></td>
  <td><%= badge.level ? badge.level : t('badges.index.all') %></td>
  <td><%= badge.category ? badge.category.title : t('badges.index.all') %></td>
  <td><%= badge.test ? badge.test.title : t('badges.index.all') %></td>
</tr>
