<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Test Guru', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t('tests.index.header'), tests_path, class: 'btn' %>
      </li>
      <li class="nav-item active">
        <%= link_to t('buttons.feedback'), '', class: 'btn', id: 'feedback-link', data: { toggle: "modal", target: "#feedbackModal" } %>
      </li>
      <li class="nav-item active">
        <%= link_to t('badges.index.header'), badges_path, class: 'btn' %>
      </li>
      <li class="nav-item active">
        <%= link_to t('user_badges.header'), user_badges_path, class: 'btn' %>
      </li>
    </ul>
  </div>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('welcome') %><b><%= current_user.first_name %></b>!
      <%= link_to t('buttons.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link' %>
    <% else %>
      <%= link_to t('buttons.login'), user_session_path %>
      <%= link_to t('buttons.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>