<tr>
<!--  <td><%#= test.id %></td>-->
  <td><%= test.title %></td>
  <td align="center"><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author&.full_name %></td>
  <td align="center"><%= test.questions.count %></td>
  <td align="center"><%= test.duration %></td>
  <% disabled = test.questions.any? ? false : true %>
  <td><%= button_to t('buttons.start'), start_test_path(test),
                    id: "start-test-#{test.id}",
                    class: "btn btn-primary start-test",
                    disabled: disabled,
                    data: { duration: test.duration, test_id: test.id } %></td>
</tr>
